{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "создание оплаты" %}{% endblock %}
{% block body %}


<img src = "{% static 'img/round-logo.png' %}" style = "position: absolute; width: 90px; height:90px; ; top: 570px; left: 160px; opacity: 0.7">

<body> 
<img src = "{% static 'img/bg-pay.png' %}" style = "width: 100%; height:800px ">
<img src = "{% static 'img/profile-img.png' %}" style = "position: absolute; left: 150px; top: 100px;width: 110px; height: 110px; opacity: 0.9 ">


<div class="payment" style="position: absolute; top: 25%; left: 13%; width: 350px; ">

    <form method="post" action="{% url 'form-pay' %}">
     {% csrf_token %}
    <input hidden name="token" value="{{ token }}">
    <input hidden name="service_name" value="{{ service_name }}">
    <input class="form-control" type="text" placeholder="Сумма" aria-label="default input example" name="summa">
    <br>
    <br>
    <button style = "position: absolute; left: 40px; width: 150px" class="btn btn-success">{% trans "Оплатить картой" %}</button>
    <br>
    <br>
    <button style = "position: absolute; left: 20px; width: 200px" type="button" class="btn btn-secondary" disabled>Wooppay-кошелёк</button>
    <br>
    <br>
    <button style = "position: absolute; left: 40px; width: 150px" type="button" class="btn btn-secondary" disabled>Другой способ</button>
    </form>


</div>
</body>
{% endblock %}